* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Header */

header {
  background-color: #3c3a39;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/* Navbar */

nav {
  margin: 0 25px;
  padding: 30px 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav > span {
  font-size: 1rem;
  font-weight: bold;
}

li {
  list-style: none;
}

li > a {
  color: white;
  text-decoration: none;
}

#menu {
  width: 16px;
}

/* Headline section */

section#headline {
  background-color: #1c1a19;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
}

p {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Headline icons */

div#headline-icons {
  z-index: 2;
}

div#headline-icons > ul {
  color: #dbd8d7;
  display: flex;
  justify-content: space-around;
}

div#headline-icons > ul > li > img:hover {
  cursor: pointer;
}

#i-icon {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#linkedin {
  display: flex;
  gap: 3px;
}

/* Vector design */

#vector-design {
  height: 180px;
  position: relative;
  top: -80px;
  left: 15px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

#vector1 {
  width: 80px;
  height: 93px;
  background-image: url("vector/Vector4.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 55px;
  left: 220px;
  z-index: 3;
}

#vector2 {
  width: 16px;
  height: 40px;
  background-image: url("vector/Vector1.png");
  background-repeat: no-repeat;
  position: relative;
  left: 215px;
}

#vector3 {
  width: 80px;
  height: 120px;
  background-image: url("vector/Vector2.png");
  background-repeat: no-repeat;
  position: relative;
  top: 55px;
  left: 135px;
  z-index: 2;
}

#vector4 {
  width: 50px;
  height: 120px;
  background-image: url("vector/Vector3.png");
  background-repeat: no-repeat;
  position: relative;
  top: 60px;
  left: 80px;
  z-index: 1;
}

#vector5 {
  width: 30px;
  height: 60px;
  background-image: url("vector/Vector5.png");
  background-repeat: no-repeat;
  position: relative;
  top: 45px;
  z-index: 5;
}

#vector6 {
  width: 30px;
  height: 60px;
  background-image: url("vector/Vector6.png");
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  right: 25px;
  z-index: 4;
}

#vector7 {
  width: 20px;
  height: 30px;
  background-image: url("vector/Vector7.png");
  background-repeat: no-repeat;
  position: relative;
  top: 100px;
  right: 30px;
  z-index: 6;
}

/* Media query for mobile version */

@media (max-width: 600px) {
  nav {
    padding: 15px 0;
  }

  nav > span {
    font-size: 0.8rem;
  }

  section#headline {
    padding: 0 20px 0 20px;
  }

  h1 {
    font-size: 56px;
    padding-top: 80px;
  }

  h2 {
    font-size: 24px;
    padding: 10px 0 10px 0;
  }

  p {
    font-size: 16px;
  }

  div#headline-icons {
    width: 55%;
    padding: 25px 0;
    font-size: 20px;
  }
}
