* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Header */

header {
  background-color: #3c3a39;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/* Navbar */

nav {
  margin: 0 25px;
  padding: 30px 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav > span {
  font-size: 1rem;
  font-weight: bold;
}

li {
  list-style: none;
}

li > a {
  color: white;
  text-decoration: none;
}

#menu {
  width: 16px;
}

/* Headline section */

section#headline {
  background-color: #1c1a19;
  height: 100vh;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
}

p {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Headline icons */

div#headline-icons > ul {
  color: #dbd8d7;
  display: flex;
  justify-content: space-around;
}

div#headline-icons > ul > li > img:hover {
  cursor: pointer;
}

#i-icon {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#linkedin {
  display: flex;
  gap: 3px;
}

/* Vector design */

div#vector-design {
  display: flex;
  justify-content: flex-end;
}

img#vector-2 {
  position: relative;
  top: 25px;
  left: 15px;
}

img#vector-1 {
  position: relative;
  top: 20px;
  right: -60px;
  z-index: 1;
}

/* Media query for mobile version */

@media (max-width: 600px) {
  nav {
    padding: 15px 0;
  }

  nav > span {
    font-size: 0.8rem;
  }

  section#headline {
    padding: 0 20px 0 20px;
  }

  h1 {
    font-size: 56px;
    padding-top: 80px;
  }

  h2 {
    font-size: 24px;
    padding: 10px 0 10px 0;
  }

  p {
    font-size: 16px;
  }

  div#headline-icons {
    width: 55%;
    padding: 25px 0;
    font-size: 20px;
  }
}
